<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Aplikacja</title>
  </head>

  <body>
    <header class="header">
      <h1 class="header__heading-primary">Aplikacja w przeglądarce</h1>
      <h2 class="header__heading-secondary">Sporządzona przez webpack</h2>
      <div class="container"></div>
    </header>
 
    <section class="image">
      <img class="image__item" src="./images/dama-pik.jpg" alt="karta do gry" />
    </section>
    
    <footer class="footer">
      <p class="footer__text">&copy;FreeCoder 2022</p>
    </footer>
  </body>
</html>
